body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-image: url(./Background\ Image\ Galaxy\ GIF\ -\ Background\ Image\ Galaxy\ Universe\ -\ Discover\ &\ Share\ GIFs.gif);
}

#board {
    background-color: black;
}